<%%= semantic_form_for <%= item_path :instance_variable => true %> do |f| %>
  <%%= f.semantic_errors %>
  <%%= f.inputs do %>
    <%- for attribute in model_attributes -%>
      <%% f.input :<%= attribute.name %> %>
    <%- end -%>
  <%% end %>

  <div class="actions"><%%= f.commit_button %></div>
<%% end %>
